@using Microsoft.AspNetCore.Mvc.Localization
@using TicketService.DAL.Models
@inject IViewLocalizer Localizer
@model List<TicketService.DAL.Models.Event>
@{ ViewData["Title"] = "Events Page"; }

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px">
    <a class="navbar-brand">Alternative</a>
    <div class="navbar-nav">        
        <a class="nav-item nav-link" href="~/views/JEvents.html">Jquery</a>
        <a class="nav-item nav-link" href="ClientApp">React</a>

    </div>
</nav>
<h1>@Localizer["Title"]</h1>
<div class="d-flex">
    @if (User.IsInRole("Admin"))
    {
<div class="m-2">
    <a class="btn btn-primary" asp-area="" asp-controller="Events" asp-action="CreateView">+</a>
</div>}
    @if (ViewBag.Messages != null)
    {
        foreach (var item in ViewBag.Messages)
        {
            <div asp- class="alert alert-danger" role="alert">@item</div>
        }
    }
</div>
<table class=" table table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">@Localizer["Event.Id"]</th>
            <th scope="col">@Localizer["Event.Name"]</th>
            <th scope="col">@Localizer["Event.Date"]</th>
            <th scope="col">@Localizer["Event.City"]</th>
            <th scope="col">@Localizer["Event.Venue"]</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @{ foreach (var item in Model)
        {
        <tr>
            <td>@item.EventId</td>
            <td>@item.Name</td>
            <td>@item.Date.ToString("dd.MM.yyyy")</td>
            <td>@item.Venue.City.Name</td>
            <td>@item.Venue.Name</td>
            <td>
                @Html.ActionLink(Localizer["Details"].Value, "Details", "Events", new { id = item.EventId }, new { @class = "btn btn-primary" })
            </td>
            <td>
                @Html.ActionLink(Localizer["Tickets"].Value, "Tickets", "Tickets", new { id = item.EventId }, new { @class = "btn btn-primary" })
            </td>
            @if (User.IsInRole("Admin"))
            {
        <td>
            <a class="btn btn-primary" asp-area="" asp-controller="Events" asp-action="EditView" asp-route-id="@item.EventId">Edit</a>
        </td>
                            <td>
                                <a class="btn btn-primary" asp-area="" asp-controller="Events" asp-action="DeleteEvent" asp-route-id="@item.EventId">Delete</a>
                            </td>
            }
         </tr>
 } }
</table>





