@using Microsoft.AspNetCore.Mvc.Localization
@using TicketService.DAL.Models;
@inject IViewLocalizer Localizer
@model IEnumerable<TicketService.DAL.Models.Ticket>
@{
    var Selling = Model.Where(t => t.Status == TicketStatus.Selling);
    var Waiting = Model.Where(t => t.Status == TicketStatus.Waiting);
    var Sold = Model.Where(t => t.Status == TicketStatus.Sold);
    }

<h1>@Localizer["Title"]</h1>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-Selling-tab" data-toggle="tab" href="#nav-Selling" role="tab" aria-controls="nav-Selling" aria-selected="true">@Localizer["Selling"]</a>
        <a class="nav-item nav-link" id="nav-Sold-tab" data-toggle="tab" href="#nav-Sold" role="tab" aria-controls="nav-Sold" aria-selected="false">@Localizer["Sold"]</a>
        <a class="nav-item nav-link" id="nav-Waiting-tab" data-toggle="tab" href="#nav-Waiting" role="tab" aria-controls="nav-Waiting" aria-selected="false">@Localizer["Waiting"]</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-Selling" role="tabpanel" aria-labelledby="nav-Selling-tab">
        <h2>Selling</h2>
        @{ if (!Selling.Any())
            {
                <h4>No tickets for selling</h4>
            }
            else
            {
                <div class="container">
                    <div class="d-flex">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Localizer["EventId"]
                                    </th>
                                    <th>
                                        @Localizer["Event"]
                                    </th>
                                    <th>
                                        @Localizer["Venue"]
                                    </th>
                                    <th>
                                        @Localizer["Price"]
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Selling)
                            {
                                <tr>
                                    <td>
                                        @item.EventId
                                    </td>
                                    <td>
                                        @item.Event.Name
                                    </td>
                                    <td>
                                        @item.Event.Venue.Name
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        }

    </div>
    <div class="tab-pane fade" id="nav-Sold" role="tabpanel" aria-labelledby="nav-Sold-tab">
        <h2>Sold</h2>
        @{
            if (!Sold.Any())
            {
                <h4>No sold tickets yet</h4>
            }
            else
            {
                <div class="container">
                    <div class="d-flex">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Localizer["EventId"]
                                    </th>
                                    <th>
                                        @Localizer["Event"]
                                    </th>
                                    <th>
                                        @Localizer["Venue"]
                                    </th>
                                    <th>
                                        @Localizer["Price"]
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Sold)
                            {
                                <tr>
                                    <td>
                                        @item.EventId
                                    </td>
                                    <td>
                                        @item.Event.Name
                                    </td>
                                    <td>
                                        @item.Event.Venue.Name
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        }

    </div>
    <div class="tab-pane fade" id="nav-Waiting" role="tabpanel" aria-labelledby="nav-Waiting-tab">
        <h2>Waiting</h2>
        @{if (!Waiting.Any())
            {
                <h4>No tickets on waiting</h4>
            }
            else
            {
        <div class="container">
            <div class="d-flex">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Localizer["EventId"]
                            </th>
                            <th>
                                @Localizer["Event"]
                            </th>
                            <th>
                                @Localizer["Venue"]
                            </th>
                            <th>
                                @Localizer["Price"]
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Waiting)
                    {
                        <tr>
                            <td>
                                @item.EventId
                            </td>
                            <td>
                                @item.Event.Name
                            </td>
                            <td>
                                @item.Event.Venue.Name
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>                                
                                <a class="btn btn-primary m-2" asp-area="" asp-controller="MyTickets" asp-action="ApproveTicket" asp-route-ticketId="@item.TicketId">Approve</a>
                            </td>
                        </tr>
                    }
                </table>

            </div>
        </div>
                } }
    </div>
</div>
