@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<TicketService.DAL.Models.Ticket>
@inject IViewLocalizer Localizer

<div class="row">
    <div class="col-1">
        <a class="btn btn-outline-secondary" href="/">< cancel</a>
    </div>
    <div class="col-11 container-fluid">
        <h1>@Localizer["Title"]</h1>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <a class="btn btn-primary m-2" asp-area="" asp-controller="Tickets" asp-action="CreateView" asp-route-eventId="@Model.FirstOrDefault().EventId">+</a>
            </div>
        }
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        @Localizer["EventId"]
                    </th>
                    <th>
                        @Localizer["SellerName"]
                    </th>
                    <th>
                        @Localizer["Price"]
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Event.EventId
                    </td>
                    <td>
                        @item.Seller.LastName  @item.Seller.FirstName
                    </td>
                    <td>
                        @item.Price
                    </td>
                     <td>
                         <a class="btn btn-primary m-2" asp-area="" asp-controller="Tickets" asp-action="BuyTicket" asp-route-ticketId="@item.TicketId">Buy</a>
                    </td>

                </tr>
            }
        </table>
    </div>
</div>
